* {
    margin: 0;
    padding: 0;
}

/* NAV HEADER */
.nav {
    background-color: #1f2937;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.nav-header {
    padding-top: 1rem;
}

.nav-header-links {
    display: flex;
    margin-right: 2rem;    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding-left: 1rem;
    padding-top: 1rem;
}

/* HEADER */
.header-text {
    padding-bottom: 5rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5rem;
}

.header-main-text {
    color: #fff;
    display: flex;
}

.header-paragraph-text {
    color: #e5e7eb;
}

.header-button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2px;
    padding-bottom: 6px;
}

/* IMAGE */
.body {
    background-color: #fff; 
}

.body-header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-top: 2rem;
}

.body-image {
    display: flex;
    justify-content: space-evenly;
    border-color: #3882f6;
    border-radius: 6px;
}

/* QUOTE */
.quote {
    background-color: #e5e7eb;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.quote-paragraph {
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
}

/* SIGN UP CONTENT */
.sign-up {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-color: none;
    padding: 10px 200px;
    margin: 50px 200px;
}

.sign-item {
    flex: 1;
}

.sign-text {
    text-align: left;
}

.sign-text p {
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-up-header {
    color: #fff;
}

.sign-up-paragraph {
    color: #fff;
}

.sign-button button {
    background-color: #3882f6;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    margin: 3rem 15rem;
    color: #fff;
}

/* FOOTER */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}